<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Product Form - Shopping Cart Admin','tag')" />

<body>
    <div class="container-fluid">
        <div th:replace="navigation :: menu"></div>

        <div>
            <h2 class="text-center">
                Manage Categories - [[${pageTittle}]]
            </h2>
        </div>


        <form th:action="@{/brands/save}" method="post" style="max-width: 700px; margin: 0 auto;"
            th:object="${brand}" enctype="multipart/form-data">

            <!-- enctype="multipart/form-data" interact with images -->
            <input type="hidden" th:field="*{id}" />
            <div class="border border-secondary rounded p-3">
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label">Name: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{name}" required minlength="3"
                            maxlength="128">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label">Logo</label>
                    <div class="col-sm-8">
                        <input type="hidden" th:field="*{logo}"/>
                        <input type="file" id="fileImage" name="image" accept="image/png, image/jpg" class="mb-2"/>
                        <img th:src="@{${brand.logoPath}}" alt="Photos Review" id="thumbnail" class="img-fluid" />
                    </div>      
                </div>

                <div class="form-group row">
					<label for="" class="col-sm-4 col-form-label">Select one or more categories</label>
					<div class="col-sm-8">
						<select class="form-control" th:field="*{categories}" multiple required
                         style="resize: vertical; height: 200px;">                       
							<th:block th:each="cat : ${listCategories}">
								<option th:value="${cat.id}">[[${cat.name}]]</option>
							</th:block>
						</select>
					</div>
				</div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Choosen categories</label>
                    <div class="col-sm-8">
                        <div id="chosenCategories">
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary m-3">
                    <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
                </div>
            </div>
        </form>

        <div class="modal fade text-center" id="modalDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-tittle">Warning</h4>
                        <button type="button" data-dismiss="modal" class="close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <span id="modalBody"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center m3 ">
            <p>Shopping Cart Control Panel - Coppyright &copy; ShoppingCart</p>
        </div>
    </div>
    <script>
        MAX_FILE_SIZE = 102400;
        moduleURL = "[[@{/brands}]]";

        $(document).ready(function(){
            dropdownCategories = $("#categories");
            divChosenCategories = $("#chosenCategories");

            dropdownCategories.change(function(){
                divChosenCategories.empty();
                showChosenCategories();
            })
            showChosenCategories();
        });

        function showChosenCategories(){
            dropdownCategories.children("option:selected").each(function(){
                selecttedCategory = $(this);
                catId = selectedCategory.val();
                catName = selectedCategory.text().replace(/-/g,"");

                divChosenCategories.append("<span class ='badge badge-secondary m-1'>" + catName + "</span>")
            })
        }
    </script>

</html>